.register-subcontainer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-form {
  width: 30%;
  margin: auto;
}
.blogs-container {
  border: 1px black solid;
  padding: 10px;
  width: 93%;
  min-height: 600px;
  margin: 50px auto;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.spinner-box {
  width: 30%;
  margin: auto;
}
.card {
  margin: 0 !important;
}
.single-blog-container {
  min-height: 504px;
  display: flex;
  gap: 10px;
}
.img-container {
  min-height: 200px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.data-container {
  height: 560px;
  width: 60%;
  padding: 20px;
  overflow-y: scroll;
}
h3 {
  margin-bottom: 0 !important;
}
h5 {
  margin-top: 5px !important;
}
.reactions-bloc {
  display: flex;
  gap: 20px;
}
.comments-bloc {
  margin-top: 25px;
}